 <main>
  <body>
    <form action="/" method="GET">
      <input type="text" name="search" value="{{search}}">
      <button type="button">Search</button>
    </form>
    <section class="cats">
      <ul>
        {{#each cats}}
        {{>cat}}
        {{/each}}
      </ul>
    </section>
  </body>
</main>