<main>
    <form action="/breed/create" method="POST" class="cat-form">
        <h2>Add Cat Breed</h2>
        <label for="name">Breed Name</label>
        <input name="breed" type="text" id="name">
        <button type="submit">Add Breed</button>
    </form>
</main>