<main>
    <form action="/breed/create" method="POST" class="cat-form">
        <h2>Add Cat Breed</h2>
        <label for="name">Name</label>
        <input name="name" type="text" id="name">
        <label for="name">Description</label>
        <textarea name="description" id="description"></textarea>
        <button type="submit">Add Breed</button>
    </form>
</main>